// # Page Hero
// # =================================================================
.pageHero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  .pageHeroLft,
  .pageHeroRgt {
    display: absolute;
    width: 50%;
  }

  .pageHeroLft {
    float: left;

    img {
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .pageHeroRgt {
    float: right;

    img {
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .heroContainer {
    height: 80vh;
    position: relative;

    h3 {
      font-weight: 400;
      line-height: 1.6;
    }
  }

  .heroHint {
    color: $gray-medium;
    font-size: 0.875rem;
  }

  .u-verticalAlign {
    padding: 0 30px;
  }
}

// # Page About
// # =================================================================
section.about {
  padding: 10px 0 90px;

  .fa {
    font-size: 3.8125rem;
    color: $blue;
  }

  .aboutTxt {
    font-size: 0.875rem;
    color: $gray-dark;
  }
}

// # Media Query
// # =================================================================
@media (max-width: 769px) {
  .heroContainer {
    height: 70vh !important;

    h1 {
      font-size: 2rem;
    }

    .btn {
      margin-top: 10px !important;
    }
  }

  .pageHero .pageHeroRgt img {
    right: -25%;
  }

  .pageHero .pageHeroLft img {
    left: -25%;
  }
}

@media (max-width: 700px) {
  .pageHero .pageHeroRgt img,
  .pageHero .pageHeroLft img {
    display: none;
  }
}
