// # =================================================================
// # Base
// # =================================================================

// # Height
// # =================================================================
html,
body {
  height: 100%;
}

a {
  transition: all .2s;
  color: $blue;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($blue, 30%);
  }
}

ul {
  list-style: none; 
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.siteContent {
  flex: 1;
}
