// # =================================================================
// # Colors
// # =================================================================

// # General
// # =================================================================
$black: #37404a;
$gray-dark: #787e89;
$gray-medium: #cccccc;
$gray: #f2f2f2;
$gray-light: #f8f8f8;

$blue: #73bec8;

$less-focus: #b7b7b7;
$inactive: #e2e2e2;
