// # =================================================================
// # Buttons
// # =================================================================

// # Base
// # =================================================================
.btn {
  border: 0;
  white-space: normal;
  transition: all .2s;
  font-weight: 700;

  // # Sizes
  // # ===========
  &.-md {
    padding: 8px 15px;
    font-size: 1rem;
  }

  &.-lg {
    padding: 17px 30px 18px;
    font-size: 1.125rem;
  }

  // # Modifiers
  // # ===========
  &.-block {
    width: 100%;
    display: block;
  }

  // # Colors
  // # ===========
  &.-primary {
    color: $blue;
    border: 2px solid $blue;
    border-radius: $globalRadius;

    &:hover,
    &:focus {
      color: white;
      background-color: $blue;
      transition: all .2s;
    }
  }
}
