// # Page Footer
// # =================================================================
footer {
  border-top: 1px solid $gray;
  color: $gray-dark;
  font-size: 0.8125rem;
  display: block;

  .footerNav-lft {
    float: left;
    display: inline-block;
  }

  .footerNav-rgt {
    float: right;
    display: inline-block;
  }

  a {
    color: $gray-dark;
    display: inline-block;

    &:hover,
    &:focus {
      color: $blue;
      transition: all .2s;
    }
  }
  
  .footerLink {
    font-weight: 700;
    padding: 35px 15px 34px;
  }

  .footerBrand {
    font-size: 1.325rem;
    font-weight: 600;
    padding: 28px 15px 28px;
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;

    .footerBrand {
      padding-bottom: 5px;
    }

    .footerLink {
      padding-top: 10px;
      padding-bottom: 15px;
    }

    .footerNav-lft,
    .footerNav-rgt {
      float: none;
      display: block;
    }

    .footerNav-rgt {
      margin-right: 15px;
      padding-bottom: 30px;
    }
  }
}
