// # =================================================================
// # Form
// # =================================================================

// # General
// # =================================================================
input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]),
select,
textarea,
button[data-toggle="dropdown"] {
  appearance: none;
  background-color: white;
  border: 2px solid $gray !important;
  box-shadow: none !important;
  box-sizing: border-box;
  outline: 0;
  padding: 5px 10px 6px;
  min-height: 50px;

  &.-block {
    width: 100% !important;
  }

  &:focus,
  &:active {
    border: 2px solid $blue !important;
  }
}

// # Textarea
// # =================================================================
textarea {
  background-color: white;
  min-height: 100px;
  width: 100%;

  &:active,
  &:focus {
  }

  &.-big {
    min-height: 260px;
  }
}

// # Select
// # =================================================================
.select::before {
  content: '▾';
  position: absolute;
  margin-top: 12px;
  right: 30px;
  z-index: 10000;
  color: $gray-dark;
}

// # Errors
// # =================================================================
.has-error {
  input:not([type="submit"]):not([type="file"]):not([type="checkbox"]):not([type="radio"]),
  select,
  textarea,
  button[data-toggle="dropdown"] {
    border: 2px solid #d9534f !important;
  }

  .help-block {
    font-size: 80%;
  }
}

// # Misc
// # =================================================================
.input-group-addon {
  border: 2px solid $gray !important;
  background-color: $gray;
  font-weight: 700;
  color: $gray-dark;
}

label {
  color: $gray-dark;
}

::placeholder {
  color: #d8d8d8 !important;
  font-weight: 400;
}
