// # =================================================================
// # Main content
// # =================================================================

// # General
// # =================================================================
.mainContent {
  padding: 30px 60px 60px;
  background-color: $gray-light;
  min-height: calc(100vh - 85px);
}
