// # =================================================================
// # Preview box
// # =================================================================
.previewBox {
  background-color: white;
  padding: 40px 60px 40px;
  display: block;
}
