// # =================================================================
// # Side nav
// # =================================================================

// # General
// # =================================================================
.sideNav {
  display: block;
  height: calc(100% - 60px);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px 30px 30px 40px;
  margin-top: 60px;

// # Lists
// # =========== 
  ul {
    margin: 0;
    padding: 0;
  }
}
